<h2>Category Search</h2>

<table>
	<tr>
		<td><%= link_to 'All', all_rest_path %></td>
	</tr>
	<tr>
		<td><%= link_to 'Mexican' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Chinese' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Thai' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Italian' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Mediterranean' %></td>
	</tr>
</table>
